@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url(./slider.css);

:root {
  --primary-color: #717a75;
  --secondary-color: #353631;
  --accent-color: #bbd1df;
  --btn-color: #a88028;
  --white: #ffffff;
  --black: #000000;
  --primary-font: "Dongle", sans-serif;
  --secondary-font: "Barlow", sans-serif;
  --thirdly-font: "Cabin", sans-serif;
  --fourth-font: "Amatic SC", "cursive";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 400;
}

h1 {
  font-size: 140px;
  font-weight: 700;
  line-height: 140px;
}

h2 {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
}

h3 {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.navigation {
  min-height: 150px;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 999;
  position: relative;
  top: 0;
  width: 100%;
}

.container {
  max-width: calc(100vw - 250px);
  margin: 0 auto;
}

.logo-img {
  max-width: 500px;
  position: absolute;
  top: -15px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: absolute;
  right: 0;
  top: 35px;
}

.main-nav li {
  list-style: none;
  text-decoration: none;
}

.main-nav li a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.main-nav li a:hover {
  color: var(--accent-color);
}

/* Hero Page */

main {
  padding: 50px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.inner-container {
  margin-top: -50px;
}

.hero-section {
  background-image: url(../images/Hero-1.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 790px;
  margin-top: -140px;
}

.inner-section {
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.left-col {
  width: 50%;
  height: 100%;
}
.right-col {
  position: relative;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.art-board img {
  max-width: 250px;
  margin-top: 50px;
}

.hero-text {
  text-align: center;
}

.hero-text h2 {
  color: var(--white);
  text-transform: uppercase;
}

.hero-text h4 {
  color: var(--white);
  font-family: var(--thirdly-font);
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 30px;
  font-weight: 400;
}

.btns button {
  position: relative;
  margin-top: 20px;
  padding: 15px 17px;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  background: #292929;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 5;
}
.btns button:nth-child(1),
.btns button:nth-child(3) {
  padding-right: 0;
  padding-left: 0;
  width: 8px;
  margin-right: 5px;
  cursor: default;
  background: var(--btn-color);
}

.btns button:nth-child(2) {
  margin-right: 50px;
}

.btns button:nth-child(2):hover {
  transform: scale(1.05);
}
.btns button:nth-child(4):hover {
  transform: scale(1.05);
}

.hero-footer img {
  width: 100%;
  margin-bottom: -15px;
}

.btns button a {
  text-decoration: none;
  color: var(--white);
}

/* Our focus Section */

.our-focus-section {
  padding: 80px 0;
}

.our-focus-section h1 {
  text-align: center;
  font-size: 80px;
  padding-bottom: 40px;
}

.our-focus-section .cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cards .col .col-img {
  text-align: center;
}

.col .col-img img {
  max-width: 200px;
}

.col-title {
  text-align: center;
  padding: 20px 0;
}

.col-title h2 {
  font-size: 45px;
  line-height: 35px;
}

.col-1 h2 {
  padding-left: 50px;
  padding-right: 50px;
}

.col-2 h2 {
  padding-left: 80px;
  padding-right: 80px;
}

.col-title h2:nth-child(2) {
  padding-left: 50px;
  padding-right: 50px;
}

.col-desc p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}

.hr-line hr {
  border: none;
  height: 2px;
  background-color: var(--btn-color);
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.three-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20%;
  margin: 0 auto;
}

.line-one,
.line-two,
.line-three {
  border: none;
  background: var(--secondary-color);
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
}

.line-one,
.line-three {
  height: 3px;
}
.line-two {
  height: 5px;
}

.our-focus-lists {
  list-style: disc;
  text-align: left;
}

.our-focus-lists li {
  font-size: 18px;
  font-family: var(--secondary-font);
  padding: 7px 0;
  font-style: italic;
}

/* About us section */

.about-us {
  background-image: url("../images/Backgroundtools-01.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 100px 0;
  overflow: hidden;
  margin-top: 100px;
}

.about-us-inner-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-us-sec-img {
  width: 50%;
  max-width: 50%;
}

.about-us-img {
  max-width: 100%;
}

.about-us-title-desc {
  width: 50%;
}

.about-us-desc {
  padding-top: 10px;
}

.about-us-desc p {
  padding-bottom: 20px;
  padding-right: 90px;
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 25px;
}

.about-us-btn button {
  padding: 13px 17px;
  border: 0;
  background: var(--btn-color);
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about-us-btn button:nth-child(1) {
  padding-left: 0;
  padding-right: 0;
  width: 10px;
  margin-right: 5px;
  cursor: default;
}
.about-us-btn button:nth-child(2):hover {
  transform: scale(1.05);
}

.about-btn-link {
  color: var(--white);
  text-decoration: none;
}

/* Contact-form */

.drop-us-form {
  padding: 100px 0;
}

.drop-us-form .form-title h2 {
  text-align: center;
  padding-bottom: 50px;
  font-family: var(--fourth-font);
  font-weight: 400;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-form input,
textarea {
  padding: 20px 30px;
}
.contact-form .form-btn {
  text-align: center;
}

.contact-form .form-btn input,
.form-btn button {
  margin: 0 auto;
  border: 0;
  border-radius: 0;
  background: var(--btn-color);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--secondary-font);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.form-btn button {
  padding: 20px 25px;
}

.contact-form .form-btn input:nth-child(1) {
  padding-left: 0;
  padding-right: 0;
  width: 10px;
  margin-right: 5px;
  cursor: default;
}

.contact-form .form-btn button:hover {
  transform: scale(1.04);
}

span[role="alert"] {
  color: var(--btn-color);
  margin-top: -30px;
}
.contact-inner-column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.contact-left-side,
.contact-right-side {
  width: 50%;
}
.form-title h3 {
  font-family: var(--fourth-font);
  font-weight: 400;
  font-size: 50px;
  margin-top: -15px;
}
.form-title p {
  font-size: 18px;
  font-family: var(--secondary-font);
  padding-bottom: 20px;
}
.address,
.office-hours,
.phone,
.fax,
.email-add {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.address .address-desc,
.office-hours-desc,
.phone-desc,
.fax-desc,
.email-add-desc {
  width: 90%;
}

.address-desc p,
.office-hours-desc p,
.phone-desc p,
.fax-desc p,
.email-add-desc p {
  font-size: 16px;
  font-family: var(--secondary-font);
}

.address img,
.office-hours img,
.phone img,
.fax img,
.email-add img {
  width: 10%;
}

/* Idaho Workers Compensation Section */

.idaho-row-1 {
  padding-top: 80px;
  padding-bottom: 50px;
}
.idaho-row-1,
.idaho-row-2 {
  display: flex;
  align-items: center;
  gap: 50px;
}

.idaho-row-1 .idaho-btn {
  width: 30%;
}

.idaho-row-1 .idaho-title-desc {
  padding-left: 180px;
  padding-right: 20px;
  width: 70%;
}

.idaho-title-desc h2 {
  font-size: 60px;
  font-weight: 400;
}

.idaho-title-desc p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.idaho-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.idaho-btn button {
  padding: 13px 17px;
  border: 0;
  background: var(--btn-color);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.idaho-btn button:nth-child(1) {
  margin-right: 5px;
  width: 10px;
  padding-left: 0;
  padding-right: 0;
  cursor: default;
}

.idaho-btn button:nth-child(2):hover {
  transform: scale(1.05);
}

.idaho-btn button a {
  text-decoration: none;
  color: var(--white);
}

/* 
.idaho-btn button::before {
  content: "";
  height: 100%;
  width: 10px;
  background: var(--btn-color);
  margin-right: 10px;
  position: absolute;
  left: -15px;
  top: 0;
}
.idaho-btn button:hover::before {
  transform: scale(0);
  background-color: #a88028;
} */
.idaho-row-2 {
  justify-content: flex-start;
  padding-bottom: 80px;
}
.idaho-img-left,
.idaho-img-right-top,
.idaho-img-right-bottom {
  position: relative;
}
.idaho-row-2 .idaho-img-left {
  width: 55.5%;
}

.idaho-row-2 .idaho-img-right {
  width: 44.5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}
.idaho-row-2 .idaho-img-left img {
  max-width: 100%;
}

.idaho-row-2 .idaho-img-right img {
  max-width: 100%;
}

.idaho-img-right-top-desc,
.idaho-img-right-bottom-desc,
.idaho-img-left-desc {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 20px;
}

.idaho-img-left-desc p {
  padding-right: 200px;
}
.idaho-img-right-top-desc p,
.idaho-img-right-bottom-desc p,
.idaho-img-left-desc p {
  color: var(--white);
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 20px;
}

.idaho-img-right-top-desc h3,
.idaho-img-right-bottom-desc h3,
.idaho-img-left-desc h3 {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--fourth-font);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
}

/* Our Client Review Section */
.our-client-review {
  text-align: center;
}
.our-client-review .cards {
  margin-top: 50px;
}

.our-client-review h1 {
  font-size: 60px;
  line-height: 60px;
  padding: 0;
}

.col-img.our-client-review-img img {
  border-radius: 100%;
  max-width: 100px;
}
.our-client-review-desc p {
  font-weight: 400;
  line-height: 25px;
  color: var(--secondary-color);
}

.fa-solid.fa-star {
  color: var(--btn-color);
}

.review-link {
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 30px;
}

.review-link:hover {
  color: var(--btn-color);
}

/* Have Pre-existing Conditions Section */

.pre-exixting-conditions-section {
  width: 100%;
  padding: 150px 0;
}
.pre-ex-cond-img img {
  max-width: 100%;
}

.pre-ex-title {
  display: flex;
  padding: 30px 0;
}
.pre-ex-title h3 {
  width: 50%;
}
.pre-ex-line-circle {
  width: 50%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: -20px;
}
.pre-ex-line img {
  max-width: 100%;
}

.pre-ex-circle {
  max-width: 100%;
  margin-top: 20px;
}

.pre-ex-desc p {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

/* Our Blog */

.our-blog {
  position: relative;
  padding: 100px 0;
}
.blog-title {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.blog-title h3 {
  width: 50%;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.blog-title p {
  width: 50%;
  text-align: left;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.feature-img {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.feature-img img {
  max-width: 100%;
  margin: 0 auto;
}

.blog-sum {
  max-width: 50%;
  max-height: 440px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 80px;
  right: 80px;
  padding: 20px 50px;
}

.blog-sum h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 20px;
}

.blog-sum p {
  font-size: 20px;
  font-family: var(--secondary-font);
  line-height: 38px;
  font-weight: 400;
  padding-bottom: 20px;
}

.blog-sum a {
  text-decoration: none;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: var(--black);
}

.blog-slide-nav {
  max-width: 80%;
  max-height: 15%;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 200px;
  width: 100%;
  z-index: 1;
}
.blog-slide-nav-line {
  display: flex;
  gap: 15px;
  position: relative;
  align-items: center;
}

.blog-slide-nav-line hr {
  margin: 60px 0;
  border: none;
  height: 3px;
  width: 30px;
  background: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.blog-slide-nav-line hr:hover {
  transform: scale(1.5);
}

.blog-slide-nav-line hr:nth-child(2) {
  height: 5px;
  background: var(--btn-color);
  width: 50px;
}

.blog-circle {
  margin-top: -110px;
  position: absolute;
  right: 60px;
}

.our-blog
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 90px;
  z-index: 20;
  background: var(--secondary-color);
  padding: 70px 0;
  width: 80%;
}
.our-blog
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  background: var(--white);
  opacity: 1;
}
.our-blog
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--btn-color);
}

/* Footer */

footer {
  min-height: 400px;
  background-image: url("../images/footer.jpg");
  background-position: center center;
  background-size: cover;
  background-color: rgba(53, 54, 49, 0.9);
  background-blend-mode: darken;
  padding-top: 50px;
  color: #fff;
  overflow: hidden;
}
.footer-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
}

.footer-nav {
  width: 60%;
  margin: 0 auto;
  height: 200px;
  position: relative;
}

hr {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.footer-nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--secondary-font);
}

.footer-menu {
  padding: 50px 0;
  width: 100%;
}

.footer-copy-section {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.facebook,
.instagram,
.twitter {
  width: 50px;
  transition: all 0.3s ease-out;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
  transform: scale(1.2);
}
.bottom-most a {
  color: var(--white);
  text-decoration: none;
}

/* 404 Error Page */

.hero-bg {
  background-image: url(../images/Hero-1.png);
  height: 100vh;
  margin-top: -150px;
}

.error {
  text-align: center;
  height: 100vh;
  padding-top: 260px;
}
.error h1 {
  font-size: 250px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--white);
  outline: none;
  font-family: var(--secondary-font);
}

.error h2 {
  font-size: 200px;
  line-height: 250px;
  font-weight: 500;
  color: var(--white);
}

.error p {
  font-size: 40px;
  margin-top: -60px;
  color: var(--black);
  font-weight: 400;
  color: var(--white);
}

.error-button {
  padding: 13px 17px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  background: var(--btn-color);
  color: var(--white);
  border: 2px solid var(--btn-color);
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  font-size: 400;
}
.error-button:hover {
  transform: scale(1.1);
}

/* Mobile CSS */

/* Mobile Navigation Section */
.nav-icon i {
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.8s ease;
  color: var(--white);
}
.icon-active {
  transform: rotate(180deg);
}

.dropDown-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.dropDown-nav li {
  list-style: none;
}

.dropDown-nav li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
}

.mobile-nav-enter-active,
.mobile-nav-leave-active {
  transition: all 1s ease;
}

.mobile-nav-enter-from,
.mobile-nav-leave-to {
  transform: translateX(-250px);
}

.mobile-nav-enter-to {
  transform: translateX(0);
}

@media only screen and (max-width: 950px) {
  .navigation {
    min-height: 100px;
  }
  .container {
    max-width: calc(100vw - 30px);
    margin: 0 auto;
  }
  .logo-img {
    display: flex;
    max-width: 300px;
  }
  /* Hero Section items */
  .inner-section {
    padding-top: 200px;
  }

  .inner-container .right-col {
    float: none !important;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .inner-container .right-col .art-board img {
    max-width: 180px;
  }
  .inner-container .right-col .hero-text h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .inner-container .right-col .hero-text h4 {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider-nav {
    display: none;
  }

  .btns button:nth-child(2) {
    margin-right: 10px;
  }
  .our-focus-section .cards {
    flex-direction: column;
  }

  .about-us {
    background-position: center;
    margin-top: 0;
    padding: 0 0 30px 0;
  }

  .about-us-inner-sec {
    flex-direction: column;
  }

  .about-us-sec-img {
    max-width: 100%;
    width: 100%;
  }
  .about-us-img {
    max-width: 100%;
  }

  .about-us-title h2 {
    text-align: center;
    margin-top: 0;
  }

  .about-us-title-desc {
    width: 100%;
  }

  .about-us-desc p {
    padding: 0;
    text-align: center;
  }

  .about-us-btn {
    text-align: center;
    margin-top: 50px;
  }

  /* Form/contact us starts here */

  .drop-us-form {
    padding: 50px 0;
  }
  .contact-form input,
  textarea {
    padding-left: 10px;
  }

  .contact-form .form-btn input {
    width: 50%;
    padding-left: 15px;
  }

  .contact-inner-column {
    flex-direction: column;
  }

  .contact-left-side,
  .contact-right-side {
    width: 100%;
    padding-bottom: 50px;
  }

  .contact-right-side {
    text-align: center;
  }

  .address,
  .office-hours,
  .phone,
  .fax,
  .email-add {
    gap: 20px;
  }

  .address img,
  .office-hours img,
  .phone img,
  .fax img,
  .email-add img {
    width: 25%;
    padding-left: 30px;
  }
  .address .address-desc,
  .office-hours-desc,
  .phone-desc,
  .fax-desc,
  .email-add-desc {
    width: 70%;
  }

  /* Idaho section starts here */

  .idaho-row-1,
  .idaho-row-2 {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
  }
  .idaho-row-1 .idaho-title-desc {
    padding: 0;
    width: 100%;
  }

  .idaho-title-desc h2 {
    text-align: center;
    line-height: 50px;
  }

  .idaho-title-desc p {
    text-align: center;
  }

  .idaho-row-1 .idaho-btn {
    width: 100%;
  }
  .idaho-row-2 .idaho-img-left {
    width: 100%;
  }

  .idaho-img-right-top-desc p,
  .idaho-img-right-bottom-desc p,
  .idaho-img-left-desc p {
    font-size: 18px;
    line-height: 18px;
  }
  .idaho-img-left-desc p {
    width: 100%;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .idaho-row-2 .idaho-img-right {
    width: 100%;
    gap: 20px;
  }

  .our-client-review h1 {
    font-size: 50px;
    line-height: 40px;
  }
  .pre-exixting-conditions-section {
    padding: 0;
  }
  .pre-ex-title {
    flex-direction: column;
  }

  .pre-ex-title h3 {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }

  .pre-ex-line-circle {
    display: none;
  }
  .pre-ex-desc p {
    text-align: center;
    font-size: 20px;
  }

  .blog-title {
    flex-direction: column;
  }

  .our-blog {
    padding: 0;
  }
  .blog-slide-nav {
    bottom: 15px;
  }
  .blog-title h3,
  .blog-title p {
    width: 100%;
    text-align: center;
  }

  .blog-slide-nav-line {
    margin-left: -50px;
  }
  .blog-circle {
    right: 10px;
  }
  .feature-img {
    position: relative;
  }
  .feature-img .blog-sum {
    position: static;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }
  .blog-sum h4 {
    font-size: 30px;
    line-height: 30px;
  }
  .blog-sum p {
    font-size: 18px;
    line-height: 25px;
  }
  .blog-slide-nav {
    position: static;
    margin: 10px auto 50px auto;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none !important;
  }
  .our-blog .swiper {
    padding-bottom: 0;
  }
  /* Footer Section */

  .footer-container {
    padding-bottom: 0;
    padding-top: 30px;
    min-height: 300px;
  }
  .main-nav {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-menu {
    padding-top: 10px;
  }
  .footer-nav {
    height: 150px;
    width: 80%;
  }
  .footer-copy-section {
    position: static;
    flex-direction: column;
  }
  .bottom-most {
    text-align: center;
  }
}

/* Swiper JS Custom CSS */

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  height: 3px;
  width: 50px;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  height: 5px;
  width: 80px;
  background: var(--secondary-color);
}

/* Video Page */
.player {
  width: 60%;
}

.player-sizer {
  width: 100%;
  padding-top: 56.25%;
  outline: 1px solid red;
  position: relative;
}

video {
  width: 100%;
  height: 100;
  position: absolute;
  top: 0;
  left: 0;
}
