@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

:root {
  --primary-color: #717a75;
  --secondary-color: #353631;
  --accent-color: #bbd1df;
  --btn-color: #a88028;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dongle", sans-serif;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 140px;
  font-weight: 700;
  line-height: 140px;
}

h2 {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
}

h3 {
  font-size: 60px;
  font-weight: 600px;
  line-height: 60px;
}

h4 {
  font-size: 32px;
  font-weight: 500px;
  line-height: 32px;
}

.navigation {
  min-height: 100px;
  background: rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 999;
  position: relative;
  top: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-img {
  max-width: 250px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.main-nav li {
  list-style: none;
  text-decoration: none;
}

.main-nav li a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400px;
}

main {
  padding: 50px 0;
}

/* Hero Page */
.hero-section {
  background-image: url(../images/Hero-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
  margin-top: -150px;
}

.inner-section {
  padding-top: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.left-col {
  width: 50%;
  height: 100%;
}
.right-col {
  position: relative;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.art-board img {
  max-width: 250px;
  margin-top: 50px;
}

.hero-text {
  text-align: center;
}

.hero-text h3 {
  color: var(--white);
  text-transform: uppercase;
}

.hero-text h4 {
  color: var(--white);
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 40px;
  font-weight: 400;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.btns button {
  padding: 13px 17px;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  background: #292929;
  color: var(--white);
  cursor: pointer;
}

/* Footer */

footer {
  background-image: url("../images/footer.jpg");
  background-position: center center;
  background-size: cover;
  background-color: rgba(53, 54, 49, 0.9);
  background-blend-mode: darken;
  padding-top: 50px;
  color: #fff;
  overflow: hidden;
}
.footer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
}

.footer-nav {
  width: 60%;
  margin: 0 auto;
}

hr {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.footer-nav ul li a {
  color: #fff;
  text-transform: uppercase;
}

.footer-menu {
  padding: 50px 0;
}

.footer-copy-section {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
